h1 {
  font-size: 30px;
  margin-top: 20px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
h2 {
  font-size: 35px;
  margin-top: 20px;
  text-align: center;
  color: black;
}
body {
  font-family: "Quicksand", sans-serif;
  color: #57585b;
}
footer {
  text-align: center;
  font-size: 13px;
  margin: 15px auto;
}

.container {
  border: 1px solid lightgray;
  border-radius: 4px;
  max-width: 800px;
  margin: 15px auto 0 auto;
  padding: 35px 40px 20px 30px;
  background-color: #cddcdc;
  background-color: #cddcdc;
  background-image: linear-gradient(to top, white 0%, #6297c2 100%);
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.1);
}
.enter-city {
  width: 70%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid grey;
  font-size: 14px;
  padding: 5px;
  margin-left: 20px;
  margin-top: 10px;
}
.go {
  background: #ec6d4c;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px 8px;
}
.go:hover {
  cursor: pointer;
}
.current-location {
  border-radius: 40px;
  border: none;
  color: #4e6d52;
  margin-left: 10px;
  background: white;
  cursor: pointer;
  font-size: 15px;
  padding: 4px 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  transition: 200ms ease-in-out;
}
.current-location:hover {
  background: #4e6d52;
  color: white;
}
.temperature {
}
.app-left {
  margin-top: 10px;
  height: 90%;
  padding: 20px;
  padding-left: 0;
}
.current-weather-logo {
  text-align: center;
  margin-bottom: -80px;
}
.suncloud {
  width: 100px;
}

.description {
  text-transform: uppercase;
  font-weight: bolder;
}
.logo-widget {
  display: block;
  margin: 10px auto;
  padding: 20px;

  font-size: 20px;
  border-radius: 30px;
  width: 150px;
}

.current-info {
  padding-right: 25px;
  margin-top: 10px;
}

.cloud2 {
  width: 300px;
  position: absolute;
  left: 600px;
  top: 30px;
}
.cloud {
  width: 300px;
  position: absolute;
  left: 700px;
  top: 250px;
}
.currentTime {
  font-weight: 600;
  font-size: 15px;
}
.today {
  color: #000;
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.degrees {
  margin-left: 10px;
}
.btn {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}
.extra-info {
  font-size: 20px;
  padding-left: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 10;
  line-height: 40px;

  border-radius: 10px;
}
.fa-wind {
  color: #f5f5f5;
  margin-right: 23px;
}
.fa-sun {
  color: #f8c322;
  margin-right: 23px;
}
.fa-tint {
  color: #eff1e8;
  margin-right: 23px;
}
.fa-moon {
  color: #57585b;
  margin-right: 23px;
}

.fa-feather {
  color: #58af87;
  margin-right: 20px;
  margin-left: -10px;
}

.fa-temperature-high {
  color: #c92727;
  margin-right: 28px;
  margin-left: -10px;
}

.fa-temperature-low {
  color: #4a61e4;
  margin-right: 28px;
  margin-left: -10px;
}

.wind,
.humidity,
.sunset,
.sunrise,
.precipitation {
  padding: 5px;
  padding-top: 0;
}

.wind small {
  margin-left: -7px;
  font-size: 14px;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}
.feelsLike small {
  font-size: 14px;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}
.min small {
  margin-left: -7px;
  font-size: 14px;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}

.max small {
  margin-left: -7px;
  font-size: 14px;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}

.sunrise small {
  margin-left: -7px;
  font-size: 14px;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}
.sunset small {
  margin-left: -7px;
  font-size: 14px;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}

.humidity small {
  font-size: 14px;
  margin-left: -3px;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
}
.data {
  padding: 1px;
  font-weight: bold;
  font-size: 12px;
  color: black;
  text-align: center;
}
.weather-image {
  text-align: center;
  width: 350px;
  margin-top: 15px;
}
.fas,
.far {
  font-size: 15px;
}
.card-header {
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px;
  color: grey;
  font-weight: bolder;
}
.card-body {
  font-size: 10px;
  text-align: center;
  padding: 9px;
}
.card {
  margin: 0 auto 10px 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  height: 99px;
}
.icon {
  width: 48px;
  margin-left: -13px;
}
.week-degrees {
  margin-top: -20px;
  font-weight: bold;
  font-size: 17px;
  color: #4e6d52;
}
.description {
  text-transform: capitalize;
}
