h1 {
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-size: 35px;
  margin-top: 20px;
  text-align: center;
}
body {
  font-family: "Quicksand", sans-serif;
}
footer {
  text-align: center;
  font-size: 13px;
  margin: 15px auto;
}

.container {
  border: 1px solid lightgray;
  border-radius: 4px;
  max-width: 800px;
  margin: 15px auto 0 auto;
  padding: 35px 40px 20px 30px;
  background-image: linear-gradient(to top, white 0%, #ace0f9 100%);
  box-shadow: 2px 7px 7px rgba(0, 0, 0, 0.1);
}
.enter-city {
  width: 60%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 1px solid grey;
  font-size: 14px;
  padding: 5px;
  margin-left: 20px;
  margin-top: 10px;
}
.go {
  background: #016aa3;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px 8px;
}
.go:hover {
  cursor: pointer;
}
.current-location {
  border-radius: 40px;
  border: none;
  color: #8ccb02;
  margin-left: 10px;
  background: white;
  cursor: pointer;
  font-size: 15px;
  padding: 4px 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  transition: 200ms ease-in-out;
}
.current-location:hover {
  background: #8ccb02;
  color: white;
}

.app-left {
  margin-top: 10px;
  height: 90%;
  padding: 20px;
}
.current-weather-logo {
  text-align: center;
  margin-bottom: -80px;
}
.suncloud {
  width: 120px;
  padding: 0;
}

.description {
  text-transform: uppercase;
  font-weight: bolder;
}

.current-info {
  padding: 20px;
}
.currentTime {
  font-weight: 600;
  font-size: 15px;
}
.today {
  font-size: 17px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.degrees {
  margin-left: 25px;
}
.btn {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  font-size: 12px;
}
.extra-info {
  margin-left: 20px;
  margin-top: 30px;
  font-size: 20px;
}
.fa-wind {
  color: #cad1d4;
  margin-right: 25px;
}
.fa-sun {
  color: gold;
  margin-right: 25px;
}
.fa-tint {
  color: lightblue;
  margin-right: 25px;
}
.fa-moon {
  color: darkblue;
  margin-right: 25px;
}

.precipitation,
.wind,
.humidity,
.sunset,
.sunrise,
.precipitation {
  padding: 5px;
}
.wind small {
  margin-left: -7px;
  font-size: 14px;
}
.sunrise small {
  margin-left: -7px;
  font-size: 14px;
}
.sunset small {
  margin-left: -7px;
  font-size: 14px;
}
.precipitation small {
  margin-left: -7px;
  font-size: 14px;
}
.humidity small {
  font-size: 14px;
}
.data {
  padding: 7px;
  font-weight: bold;
  font-size: 18px;
}
.weather-image {
  text-align: center;
  width: 350px;
  margin-top: 15px;
}

.card-header {
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px;
  color: grey;
  font-weight: bolder;
}
.card-body {
  font-size: 10px;
  text-align: center;
  padding: 9px;
}
.card {
  margin: 0 auto 10px 0;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  height: 99px;
}
.icon {
  width: 48px;
  margin-left: -13px;
}
.week-degrees {
  margin-top: -20px;
  font-weight: bold;
  font-size: 17px;
  color: #016aa3;
}
.description {
  text-transform: capitalize;
}
